<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form
      action="http://localhost:8080/chats/<%=chat._id%>?_method=PATCH"
      method="post"
    >
      <%= chat.to %> and<%= chat.from %>
      <textarea name="updatedmsg"><%= chat.msg %></textarea>
      <button>submit</button>
    </form>
  </body>
</html>
