<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new chat</title>
  </head>
  <body>
    <form action="http://localhost:8080/chats/new" method="post">
      <input type="text" name="from" placeholder="who you are?" />
      <br />
      <textarea placeholder="write your Message" name="msg"></textarea>
      <br />
      <input placeholder="to whom" name="to" />
      <button>submit</button>
    </form>
  </body>
</html>
