.box {
  height: 250px;
  width: 250px;
  background-color: aquamarine;
  margin: 0 auto;
}
.innerbox {
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  background-color: black;
  margin: auto;
  margin-top: auto;
}
button {
  display: block;
  margin: auto;
  position: relative;
  top: 10px;
}
* {
  /* background-color: black; */
}
