h1 {
  text-align: center;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
* {
  background-color: #1e0342;
}
input {
  background-color: #9ac8cd;
}
button {
  background-color: #e1f7f5;
  border-radius: 6px;
  margin: 5px;
}
.add {
  margin: 65px;
  margin-left: 2px;
}
li {
  color: white;
}
/* ul {
  height: 50px;
  width: 50px;
  background-color: pink;
}
li {
  height: 25px;
  width: 25px;
  color: blue;
} */
